mixin filledArrow
	svg(xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='24' height='24' viewbox='0 0 172 172' style=' fill:#000000;')
		defs
			lineargradient#color-1(x1='86' y1='13.88631' x2='86' y2='158.31525' gradientunits='userSpaceOnUse')
				stop(offset='0' stop-color='#1a6dff')
				stop(offset='1' stop-color='#c822ff')
			lineargradient#color-2(x1='86' y1='30.90625' x2='86' y2='148.81225' gradientunits='userSpaceOnUse')
				stop(offset='0' stop-color='#6dc7ff')
				stop(offset='1' stop-color='#e6abff')
			lineargradient#color-3(x1='86' y1='13.88631' x2='86' y2='158.31525' gradientunits='userSpaceOnUse')
				stop(offset='0' stop-color='#1a6dff')
				stop(offset='1' stop-color='#c822ff')
			lineargradient#color-4(x1='86' y1='30.90625' x2='86' y2='148.81225' gradientunits='userSpaceOnUse')
				stop(offset='0' stop-color='#6dc7ff')
				stop(offset='1' stop-color='#e6abff')
		g(transform='translate(5.16,5.16) scale(0.94,0.94)')
		g(fill='none' fill-rule='nonzero' stroke='none' stroke-width='none' stroke-linecap='butt' stroke-linejoin='none' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal')
			g(id='original-icon 1' stroke='#133dff' stroke-width='11' stroke-linejoin='round')
				path(d='M94.05981,155.875h-16.125c-4.44244,0 -8.05981,-3.61737 -8.05981,-8.0625v-77.9375h-16.211c-1.9565,0 -3.741,-1.0965 -4.66012,-2.86487c-0.95675,-1.84094 -0.817,-4.03394 0.36819,-5.72706l29.19969,-41.78256c1.47006,-2.10163 3.75175,-3.3325 6.25919,-3.3755c0.043,0 0.086,0 0.129,0c2.45369,0 4.71925,1.14756 6.22425,3.1605l31.33894,41.85244c1.26044,1.68506 1.45663,3.90494 0.50794,5.79425c-0.90569,1.81406 -2.70631,2.94281 -4.69775,2.94281h-16.20831v77.9375c0,4.44513 -3.61737,8.0625 -8.06519,8.0625zM84.95725,21.5c-0.01344,0 -0.02688,0 -0.04031,0c-0.44881,0.00806 -1.29537,0.15856 -1.94306,1.08037l-29.19969,41.78256l21.47581,0.13706v83.3125c0,1.4835 1.20669,2.6875 2.68481,2.6875h16.125c1.4835,0 2.69019,-1.204 2.69019,-2.6875v-83.3125h21.58331l-31.44912,-41.99219c-0.65306,-0.86806 -1.47275,-1.00781 -1.92694,-1.00781z' fill='url(#color-1)')
				path(d='M87.634,33.38413l16.87481,23.27106c0.72294,1.00244 0.06987,2.46981 -1.09919,2.46981h-12.03463v83.3125c0,1.4835 -1.204,2.6875 -2.6875,2.6875h-5.375c-1.4835,0 -2.6875,-1.204 -2.6875,-2.6875v-83.3125h-12.03731c-1.14756,0 -1.80869,-1.42169 -1.12606,-2.42681l15.72994,-23.2415c1.0535,-1.55875 3.33788,-1.59637 4.44244,-0.07256z' fill='url(#color-2)')
				path(d='M0,172v-172h172v172z' fill='none' stroke='none' stroke-width='1' stroke-linejoin='miter')
			g#original-icon(stroke='none' stroke-width='1' stroke-linejoin='miter')
				path(d='M94.05981,155.875h-16.125c-4.44244,0 -8.05981,-3.61737 -8.05981,-8.0625v-77.9375h-16.211c-1.9565,0 -3.741,-1.0965 -4.66012,-2.86487c-0.95675,-1.84094 -0.817,-4.03394 0.36819,-5.72706l29.19969,-41.78256c1.47006,-2.10163 3.75175,-3.3325 6.25919,-3.3755c0.043,0 0.086,0 0.129,0c2.45369,0 4.71925,1.14756 6.22425,3.1605l31.33894,41.85244c1.26044,1.68506 1.45663,3.90494 0.50794,5.79425c-0.90569,1.81406 -2.70631,2.94281 -4.69775,2.94281h-16.20831v77.9375c0,4.44513 -3.61737,8.0625 -8.06519,8.0625zM84.95725,21.5c-0.01344,0 -0.02688,0 -0.04031,0c-0.44881,0.00806 -1.29537,0.15856 -1.94306,1.08037l-29.19969,41.78256l21.47581,0.13706v83.3125c0,1.4835 1.20669,2.6875 2.68481,2.6875h16.125c1.4835,0 2.69019,-1.204 2.69019,-2.6875v-83.3125h21.58331l-31.44912,-41.99219c-0.65306,-0.86806 -1.47275,-1.00781 -1.92694,-1.00781z' fill='url(#color-3)')
				path(d='M87.634,33.38413l16.87481,23.27106c0.72294,1.00244 0.06987,2.46981 -1.09919,2.46981h-12.03463v83.3125c0,1.4835 -1.204,2.6875 -2.6875,2.6875h-5.375c-1.4835,0 -2.6875,-1.204 -2.6875,-2.6875v-83.3125h-12.03731c-1.14756,0 -1.80869,-1.42169 -1.12606,-2.42681l15.72994,-23.2415c1.0535,-1.55875 3.33788,-1.59637 4.44244,-0.07256z' fill='url(#color-4)')
			path(d='' fill='none' stroke='none' stroke-width='1' stroke-linejoin='miter')
