extends layout

block content
    if !user
        .registration-block
            .title__landingPage.cd-words-wrapper
                .landingTitleP1 Stream your
                .landingTitleP2.is-visible talents.
                .landingSubtitle Let's unite and keep the human spirit strong during Covid-19.
            a.signupPageLink(href='/accounts/registerForm') Start streaming
            //- img.imageBlockX(src='/images/pablo-sign-in.png')
        .tags_area
        .contentArea
            .examplesSection__landingPage
                .examplesContainer__landingPage
                    .examplesTitle__landingPage Laivis
            +featured(featured)
            +streamers(streams)
    else
        .tags_area
        .contentArea
            .examplesSection__landingPage
                .examplesContainer__landingPage
                    .examplesTitle__landingPage Hetkel laivis
            +featured(featured)
            +streamers(streams)