include images/profileIcon
include mixins/topmenu
include mixins/streamers
include mixins/scheduled
include mixins/featured_live
include mixins/featured_scheduled

-var lang = 'EST';

if (!lang)
	include eng/footer
	include eng/login
	include eng/live_streams
	include eng/scheduled_streams
	include eng/landing
else if (lang == "EST")
	include est/footer
	include est/login
	include est/live_streams
	include est/scheduled_streams
	include est/landing
else if (lang == "ENG")
	include eng/footer
	include eng/login
	include eng/live_streams
	include eng/scheduled_streams
	include eng/landing

doctype html
html
	head
		title Eeter.tv
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='/css/reset.css')
		link(rel='stylesheet', href='/css/unreset.css')
		link(rel='stylesheet' href='/css/main.css')
		link(rel='stylesheet' href='/css/registration.css')
		link(rel='stylesheet' href='/css/navigation.css')
		link(rel='stylesheet' href='/css/streamPreviews.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
		link(href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap" rel="stylesheet")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js')
		script(src='https://momentjs.com/downloads/moment.min.js')
		link(rel='stylesheet' href='/css/responsive.css')
		link(rel='stylesheet' href='/css/streaming.css')
		link(rel='stylesheet' href='/css/content.css')
		block header

	body
		- var coreURL = 'dashboard';
		+topmenu(user)
		block heading
		.container
			block content
			block scripts
			script(src='/js/main.js')
			script(src='/js/topbar__dropdown.js')
		+footer



