extends layout

//- if (!lang)
//- 	include eng/login
//- else if (lang == "EST")
//- 	include est/login
//- else if (lang == "ENG")
//- 	include eng/login

block content
	+login
block scripts
	script(src='/js/login.js')



