extends layout

block content
	if valid
		.account-manager 
			form.form__resetPass(method='POST')
				.inputErrorContainer
					.inputErrorText
				.form__title Reset password
				.subtitle__resetPass Enter your new password. 
				input.input__general(name='password' type='password' placeholder='New password' autocomplete="off")
				input.input__general(name='passcheck' type='password' placeholder='Confirm password' autocomplete="off")
				.submit
					input.button__resetPass(type='submit' value='Submit')
	else
		.account-manager
			.form__resetPass
				.title__generic Invalid token
				.subtitle__resetPass Your password reset link is no longer valid.
				a.button__generic(href="/accounts/forgotPass") Still want to reset your password?
block scripts
	script(src='/js/pass__reset.js')



