extends layout

include images/HappyImage

block header
	link(href='/css/modal.css', rel='stylesheet')

block content
	- var coreURL = 'dashboard';
	.RegisterSuccessContainer
		.WelcomeBlock
			h1.RegisterSuccess.WelcomeMessage Welcome aboard!
			h1.RegisterSuccess.WelcomeSubtitle You're officially part of the club!
		.HappyContainer
			//- +HappyImage
			img.happy_image(src="/images/success.png")
		a.go_live_block(href='/' + coreURL + '/golive')
			h1.start_streaming Start streaming!
		.CheckOthersBlock
			h2.CheckOthers Or check out some cool streams by fellow streamers: