extends layout

include images/HappyImage

block content
	- var coreURL = 'dashboard';
	.HappyContainer
		+HappyImage
	.RegisterSuccessContainer
		.WelcomeBlock
			h1.RegisterSuccess.WelcomeMessage Welcome aboard!
			h1.RegisterSuccess.WelcomeSubtitle You have successfully signed up
		a.StartCuratingBlock(href='/' + coreURL + '/curatas/curate')
			h1.StartCurating Start curating
		.CheckOthersBlock
			h2.CheckOthers Check out cool curations made by fellow curators: