extends layout

block content
    iframe(width='560', height='315', src='https://www.youtube.com/embed/' + video_id + '?modestbranding=1&showinfo=0&rel=0&theme=light&color=white', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    iframe(width='150px', height='100px', src='https://www.youtube.com/live_chat?v=Ue0xaq1Q-B4&embed_domain=localhost:3000') 
