.registration-block {
	width: 100%;
	width: 1116px;
	margin: 100px auto;
	margin-bottom: 150px;
	background-color: transparent;
}

.registrationBlock__registerPage {
	margin: 0 auto;
}

.registration-form {
	width: 400px;
	margin: auto;
}

.titleBlock__registerPage {
	width: 400px;
	margin: auto;
/*	text-align: center;*/
	text-align: left;
	padding: 20px;
	padding-top: 110px;
}

.title__registerPage {
	font-size: 45px;
	font-weight: 600;
	color: #333;
}

.subtitle__registerPage {
	color: #666;
	font-size: 25px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin: 5px 0 5px 5px;
	font-weight: 600;
}

.registration-title h2 {
	color: #555;
	font-size: 25px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.register-button {
	margin-left: 2px;
	margin-right: 10px;
	border-radius: 40px;
	padding: 12px;
	font-weight: 600;
	width: 170px;
	text-align: left;
/*	font-size: 17px;*/
	font-size: 20px;
	cursor: pointer;
	transition: 85ms ease;
	box-shadow: 3px 3px 0px 0px #4458ff;
    border: none;
	background-color: #1600ff;
    color: white;
    font-family: 'Lora', serif;
    box-sizing: border-box;
    display: inline-block;
}

.register-button:hover {
	transform: scale(1.01);
    background-color: #152229;
    color: white;
	border-radius: 3px;
	box-shadow: 3px 3px 0px 0px #19191985;
}

.register-button:disabled {
	cursor: not-allowed;
    background-color: #4458ff !important;
}

.form-groups {
/*	border: 1px solid #eee;*/
	border-radius: 3px;
/*	box-shadow: 6px 6px 0px 0px #e6e6e6;*/
	border-bottom: none;
	border-right: none;
	margin-bottom: 10px;
}

.form-group {
	/*padding: 10px;*/
/*	border-bottom: 1px solid #f7f7f7;*/
/*	background-color: white;*/
	position: relative;
}

.last-form-group {
	border-bottom: none;
}


.input__registration {
	width: 90%;
	color: #333;
	border: 1px solid #eee;
	font-size: 18px !important;
	padding: 15px !important;
/*	padding: 10px! important;*/
	border-radius: 3px !important;
	background-color: #fff;
	box-shadow: 4px 5px 0px 0px #e6e6e6;
}

.input__registration:focus {
	border-left: 3px solid #1600ff;
}

.input__registration:focus::placeholder {
	color: transparent;
}

.first-input {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.last-input {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.login-button,
.signup-button,
.forgotPass-button,
.button__resetPass,
.button__generic {
	height: 100%;
	background-color: transparent !important;
	color: #555 !important;
	border-radius: 40px;
	box-sizing: border-box;
	font-weight: 600;
	padding: 12px; /* neutralizing the padding of default input padding */
	font-size: 14px !important;
	cursor: pointer;
}

.login-button,
.forgotPass-button,
.button__resetPass,
.button__generic {
	color: #ffffff !important;
}

.signup-button {
	background-color: #673ab7 !important;
	color: white !important;
	padding-bottom: 10px;
	padding-top: 14px;
}

.signup-button:hover {
	background-color: #7e57c2 !important;
}

.signin-form,
.form__forgotPass,
.form__resetPass {
  margin: auto;
  width: 600px;
  text-align: center;
}

/* fields that differ, write in separate classes rather than overwriting, less chance of messing up things later*/

.signin-form {
	margin-top: 200px;
}

.form__forgotPass,
.form__resetPass {
	margin-top: 150px;
}

.login-input,
.input__general {
	width: 200px;
	border-radius: 3px;
	border: 1px solid #eee;
	margin-right: 16px;
	padding: 10px;

	margin-left: auto;
	margin-right: auto;
	width: 325px;
	padding: 15px !important;
	display: block !important;
	margin-bottom: 20px !important;
	font-size: 18px !important;
	box-shadow: 4px 5px 0px 0px #e6e6e6;
}

.login-input:focus,
.input__general:focus {
	border-left: 3px solid #1600ff;
}

.login-button,
.forgotPass-button,
.button__resetPass,
.button__generic {
	width: 325px !important;
	font-size: 18px !important;
	transition: .2s ease-in-out !important;
	margin-top: 5px !important;
	padding: 10px !important;
	background-color: #1600ff !important;
	box-shadow: 3px 3px 0px 0px #4458ff;
}

.login-button:hover,
.forgotPass-button:hover,
.button__resetPass:hover,
.button__generic:hover {
	background-color: #152229 !important;
	box-shadow: 3px 3px 0px 0px #19191985;
}

.button__generic {
	display: block;
	margin: 0 auto !important;
	height: auto;
	width: 330px !important;
}

.login-title,
.form__title,
.title__generic {
	font-size: 45px;
	text-align: left;
	width: 325px;
	margin: 0 auto;
	margin-bottom: 10px;
	color: #333;
	font-weight: 600;
}

form.signin-form .submit {
/*	height: 100%; 
	 width: 100%; 
	margin-right: 5px;*/
}

.account-manager {
	background-color: #fff;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	flex-grow: 1;
}

.forgotPass {
	color: #b1b1b1;
	text-align: left;
	margin: 0 auto;
	width: 325px;
	margin-bottom: 13px;
	cursor: pointer;
	display: block;
}

.forgotPass:hover {
	text-decoration: underline;
}

.loginPageLink,
.signUpLinkSimple {
    margin: 0;
  /*  width: 150px;*/
    padding: 8px;
    margin-right: 5px;
	font-size: 18px;
    transition: .2s ease-in-out;
	height: 100%;
/*    border-radius: 3px;*/
    box-sizing: border-box;
    font-weight: 600;
	cursor: pointer;
	border-radius: 40px;
}

.signUpLinkSimple {
	color: #fff;
	background-color: blue;
	box-shadow: 3px 3px 0px 0px #4458ff;
}

.loginPageLink {
    margin-left: auto;
    margin-right: 10px;
    color: #333;
}

.signUpLinkSimple:hover {
	background-color: #152229;
}

.loginPageLink:hover {
	color: #888;
}

.signupPageLink {
	margin-top: 20px;
/*	border-radius: 3px;*/
/*	padding: 0px 2px;*/
	padding: 8px 16px;
	font-weight: 600;
	width: 350px;
	text-align: center;
	cursor: pointer;
	transition: 85ms ease;
	box-shadow: 4px 4px 0px 0px #1600ffba;
	background-color: blue;
    color: white;
    font-family: 'Lora', serif;
 	font-size: 42px;
    margin-left: 25px;
    text-transform: lowercase;
	display: block;
	border-radius: 40px;
}

.signupPageLink:hover {
    transform: scale(1.01);
/*	background-color: #7e57c2;*/
	background-color: #152229;
    color: white;
/*    border-radius: 3px;*/
}

.landingTitleP1,
.landingTitleP2 {
  font-size: 90px;
  font-weight: 600;
  font-style: italic;
  max-width: 825px;
  display: inline-block;
}

.landingTitleP2 {
	background-color: #0000ff1f;
	margin-left: 18px;
}

.landingSubtitle {
	font-size: 30px;
	font-weight: 400;
	color: #656565;
	font-style: italic;
	max-width: 700px;
	margin-left: 10px;
	margin-top: 15px;
}

.landing-nav {
	background-color: white;
  	padding: 10px 0px;
  	flex-wrap: wrap;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	/*  padding: 12px 15px;*/
	padding: 6px 15px;
}

.logoTitleBlack__generic,
.logoTitleWhite__generic {
	border-radius: 4px;
	padding: 8px 20px;
	box-sizing: border-box;
	font-size: 21px;
	font-weight: 600;
	transition: .2s ease-in-out;
}

.logoTitleBlack__generic {
	color: #333;
}

.logoTitleBlack__generic:hover {
	color: #888;
}

.logoTitleWhite__generic {
	color: white;
}

.logoTitleWhite__generic:hover {
	color: #ccc;
}

.title__landingPage {
	margin: auto;
	text-align: left;
	padding: 20px;
	padding-left: 0px;
	/* padding-top: 110px; */
}

.accountExists__registerPage {
	background-color: transparent;
	border: none;
	box-shadow: none;
	width: auto;
	padding: 0;
	font-size: 14px;
	color: #b1b1b1;
	/* margin-left: 16px;	 */
	margin-top: 20px;
    border-radius: 3px;
    display: inline-block;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    transition: 85ms ease;
}

.accountExists__registerPage:hover {
	text-decoration: underline;
	color: #ececec;
}

.container__registerPage {
	background-color: #142229;
}

.body__registerPage {
	background-color: #142229;
}

.signUpBackup__loginPage {
	background-color: transparent;
    font-size: 16px;
    padding: 0;
    color: #bdbdbd;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 12px;
    font-weight: bold;
    display: block;
    transition: .2s ease-in-out;
}

.signUpBackup__loginPage:hover {
	color: #eee;
}

.subtitle__forgotPass,
.subtitle__resetPass {
	width: 325px;
	margin: 0 auto;
	text-align: left;
	font-size: 18px;
	margin-bottom: 30px;
	color: #666;
}

.examplesSection__landingPage {
	width: 100%;
}

.examplesContainer__landingPage {
    width: 1116px;
    margin: 0 auto;
	margin-bottom: 30px;
}

.examplesTitle__landingPage {
    font-size: 70px;
    background-color: #dfe4ff;
    width: 800px;
    border-bottom: 3px solid #333;
    /* margin-bottom: 50px;
    margin-left: 125px; */
    font-style: italic;
    font-weight: 600;
    line-height: 60px;
}

.notifier__register {
    width: 390px;
    height: 200px;
    background-color: #2c4450;
    margin: 10px 5px 15px 5px;
    border: 2px solid #1e3c4a;
    display: none;
}

.passwordInput {
	display: inline-block;
	width: 90%;
}

.showPassContainer {
	padding: 5px 0px;
	display: inline-block;
	box-sizing: border-box;
	width: 10%;
	text-align: center;
}

.showPass {
	width: 60%;
    vertical-align: middle;
    cursor: pointer;
}


.inputTitleContainer {
/*	display: none;*/
	padding: 4px 2px 4px 1px;
	font-size: 17px;
    font-weight: bold;
    color: #666;
    width: 88%;
}

.serverErrorContainer {
	position: absolute;
	display: flex;
	/* width: 52%; */
	padding: 0 15px;
	height: 40px;
	border: 2px solid red;
	right: -65%;
	/* border-radius: 4px; */
/*	color: red;*/
	color: white;
/*	background-color: white;*/
	background-color: #b63a3a;
	top: 6px;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	transition: .2s ease;
	text-align: center;
	display: none;
}

.inputErrorContainer {
	padding: 10px;
	color: red;
	background-color: transparent;
}

.successMessage {
	margin: 30px auto;
    font-size: 15px;
    max-width: 300px;
    color: #fff;
    background-color: #222;
    box-sizing: border-box;
    font-weight: 600;
    padding: 8px;
    border-radius: 3px;
    font-family: 'Lora', serif;
    display: none;
}


