.stream_buttons {
    margin-left: auto;
}

.livestream_buttons {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-self: self-start;
}

.go_live_button,
.schedule_stream_button,
.save_settings {
    color: white;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 2px;
    margin: 0px 6px;
    box-sizing: border-box;
    margin-bottom: 2px;
    border: 1px solid transparent;
    display: inline-block;
    background-color: #130089;
    cursor: pointer;
}

.go_live_button,
.save_settings {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.save_settings {
    font-size: 18px;
}

.go_live_button:hover,
.save_settings:hover {
    background-color: #120088bd;
}

.streaming_area {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
}

.streamer_username,
.streamer_first_name,
.streamer_last_name {
    font-size: 22px;
    display: inline;
    margin-right: 5px;
}

.player_container {
    margin-right: 50px;
    /* margin-left: auto; */
    margin-top: 1.3%;
}

.player_sidebar_container {
    margin-top: 1.3%;
    margin-right: 10px;
}

.sidebar_section_top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 15px;
    background-color: #f9f9f9;
}

.live_player {
    border-radius: 10px;
}

.live_chat {
    border-radius: 3px;
}

.ytp-title {
    display: none;
}

.ytp-title-channel {
    display: none;
}

.ytp-watch-later-button,
.ytp-show-watch-later-title {
    display: none;
}

.stream_owner {
    display: flex;
      align-items: center;
      padding: 8px 10px 8px 10px;
      border-radius: 2px;
      cursor: pointer;
  }
  .stream_owner:hover {
    background-color: #f7f7f7;
  }

.stream_details {
    max-width: 850px;
    padding-top: 10px;
}

.stream_details_block {
    padding: 10px;
    display: flex;
    /* justify-content: center; */
    width: 325px;
    margin: 0 auto;
}


.stream_name_display {
    font-size: 25px;
    line-height: 30px;
    max-width: 500px;
}

.stream_description_display {
    max-width: 600px;
    color: #555;
    line-height: 21px;
}

.stream_tag {
    display: inline-block;
    background-color: #f7f7f7;
    padding: 6px 12px;
    margin-right: 8px;
    border-radius: 18px;
    font-size: 16px;
    /* color: #989898;
    color: #1600ff75; */
    color: #000000ad;
    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.stream_center_top {
    display: flex;
    align-items: center;
    max-width: 865px;
}

.nav-container {
    padding-top: 0px;
}

/* --------------------------------
    stream online / offline indicators
-------------------------------- */

.stream_live,
.stream_offline {
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 17px;
    display: inline-block;
    /* background-color: #ff0000d4; */
    color: #ca1b0e;
    /* color: #1600ff; */
    background-color: #f7f7f7;
    font-weight: bold;
    margin-left: 15px;
    border-radius: 3px;
    margin-right: 15px;
    text-align: center;
    cursor: default;
}

.stream_offline {
    color: #555;
}

.stream_edit_button,
.stream_end_button,
.share_options {
    padding: 10px 16px;
    padding-top: 11px;
    font-size: 17px;
    display: inline-block;
    background-color: #f7f7f7;
    border-radius: 3px;
    margin-right: 15px;
    text-align: center;
    transition: .2s ease;
    cursor: pointer;
    /* color: white; */
    white-space: nowrap;
    font-weight: bold;
}

.stream_edit_button:hover,
.stream_end_button:hover,
.share_options:hover {
    color: #aaa;
}

.stream_not_live {
    padding: 10px;
    font-size: 20px;
    background-color: #f7f7f7;
    margin-bottom: 15px;
    border-radius: 4px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: blue;
}


/* --------------------------------
    stream likes
-------------------------------- */

.stream_likes {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 4px 15px;
    cursor: pointer;
    transition: .2s ease;
}

.stream_likes:hover {
    background-color: #0000ff17;
    transform: scale(1.01);
}

.stream_likes:hover > .stream_like_button {
    border-color: #8686862b;
}

.stream_like_button {
    display: flex;
    align-items: center;
    border-right: 1px solid #c7c7c7;
    padding-right: 10px;
}

.stream_like_icon {
    max-height: 30px;
}

.stream_like_text {
    margin-left: 10px;

}

.stream_likes_count {
    margin-left: 12px;
}

[data-liked="true"] {
    background-color: #0000ff17;
}

/* --------------------------------
    streamer about
-------------------------------- */

.streamer_about {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 4px;
    width: 200px;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.streamer_about_title {
    font-size: 22px;
    padding: 5px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* --------------------------------
    streamer profile image
-------------------------------- */

.streamer_profile_image {
    display: block;
    margin-bottom: 6px;
    height: 240px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border-radius: 4px;
    object-fit: cover;
}

.streamer_profile_icon {
    height: 45px;
    margin-right: 10px;
    width: 45px;
    border-radius: 360px;
    object-fit: cover;
}


/* --------------------------------
    streamer upcoming box
-------------------------------- */

.streamer_upcoming {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 4px;
    width: 200px;
    margin-top: 20px;   
}

/* --------------------------------
    stream following
-------------------------------- */

.streamer_follow {
    margin-left: 22px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 4px 15px;
    cursor: pointer;
    transition: .2s ease;
    font-weight: bold;
}

.streamer_follow:hover {
    /* background-color: #0000ff17; */
    background-color: #e4ff00;
    transform: scale(1.01);
}

.streamer_follow:hover > .streamer_follow_button {
    border-color: #8686862b;
}

.streamer_follow_button {
    display: flex;
    align-items: center;
}

.streamer_follow_icon {
    max-height: 24px;
}

.streamer_follow_text {
    margin-left: 10px;

}

.streamer_follow_state {
    margin-left: 12px;
}

[data-following="true"] {
    background-color: #e4ff00;
    font-weight: bold;
}

/* --------------------------------
    streamer followings count
-------------------------------- */
.streamer_stats {
}

.streamer_followings {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 4px;
    width: 200px;
    margin-top: 20px;
}

.streamer_count {
    padding: 5px;
    font-weight: bold;
    color: #333;
    font-size: 19px;
    margin-bottom: 10px;
}

.fixed_user_header {
    position: fixed;
    background: white;
    padding: 6px 13px;
    top: 0px;
    width: 100%;
    z-index: 9999;
}

/* --------------------------------
    streamer profile
-------------------------------- */

.streamer_profile_container {
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
}

/* --------------------------------
    streamer previous streams
-------------------------------- */

.upcoming_streams_container {
    margin-left: 30px;
    align-items: center;
    display: flex;
    height: auto;
    flex: 1;
    margin: 0 0 0 30px;
    overflow-y: auto;
    width: 630px;
}

.previous_streams_container {
    margin-left: 30px;
    margin-top: 40px;
}


.previous_streams,
.upcoming_streams {
    width: 630px;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 0px;
    border-radius: 4px;
}

.upcoming_streams {
    display: flex;
}

.previous_streams_title,
.upcoming_streams_title {
    padding: 5px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    font-size: 32px;
}

.upcoming_streams_title {
    margin-left: 30px;
    padding-left: 24px;
}

.no_previous_streams,
.no_upcoming_streams {
    padding: 24px;
    font-size: 22px;
    font-weight: bold;
    color: #444;
    background-color: #f7f7f7;
    border-radius: 4px;
    height: 250px;
}

.no_upcoming_streams {
    width: 630px;
}

.previous_stream,
.upcoming_stream {
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 10px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    border-radius: 4px;
}

.upcoming_stream {
    margin: 0 15px;
    min-width: 250px;
    max-width: 350px;
    font-size: 22px;
    font-weight: bold;
    color: #444;
    background-color: #f7f7f7;
    border-radius: 4px;
    height: 250px;
    padding: 24px;
}

.previous_stream_details,
.upcoming_stream_details {
    display: flex;
    align-items: center;
    padding: 5px 10px 16px 1px;
}

.stream_title {
    font-size: 24px;
}

.stream_title:hover {
    color: #888;
}

.stream_date {
    margin-left: auto;
    /* text-transform: uppercase; */
    font-size: 12px;
    color: #666;
}


.add_about_section,
.add_profile_image_section {
    padding: 23px 20px;
    background-color: #f7f7f7;
    border-radius: 4px;
    width: 200px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.add_about_section:hover,
.add_profile_image_section:hover {
    background-color: #f1f1f1;
}

/* --------------------------------
    edit stream
-------------------------------- */

.edit_stream_modal {
    display: none;
}

.edit_stream_details {
    display: none;
    padding: 15px;
    border-radius: 3px;
    max-width: 850px;
    box-sizing: border-box;
}

.save_stream_changes,
.cancel_stream_changes {
    padding: 6px 16px;
    font-size: 17px;
    display: inline-block;
    border-radius: 3px;
    margin-right: 15px;
    text-align: center;
    transition: .2s ease;
    cursor: pointer;
    color: white;
    background-color: #130088;
}

.save_stream_changes:hover,
.cancel_stream_changes:hover {
    color: #aaa;
}

.cancel_stream_changes {
    background-color: #e6e6e6;
    color: #333;
}

.edit_stream_inputs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 60px;
}

.edit_input {
    margin-right: 55px;
    max-width: 325px;
}

/* --------------------------------
    special classes
-------------------------------- */

.margin-10 {
    margin-bottom: 10px !important;
}

.margin-left-auto {
    margin-left: auto;
}

.height-120 {
    height: 120px !important;
}

.padding-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.no-side-margins {
    margin-left: unset !important;
    margin-right: unset !important;
}

.auto-side-margins {
    margin-left: auto;
    margin-right: auto;
}

.active-about {
    /* background-color: #f5f5f5; */
    background-color: #f7f7fb;
}

/* --------------------------------
    featured stream
-------------------------------- */

.featured_stream {
    display: flex;
    width: 1200px;
    flex-direction: row;
    padding: 60px 50px 60px 50px;
    align-items: flex-start;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #12008808;
    /* box-shadow: 2px 2px 9px 0px rgba(10, 0, 70, 0.14); */
    cursor: pointer;
    box-sizing: border-box;
    transition: .2s ease-in-out;
    margin: 30px 17px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.featured_stream:hover {
    border: 2px solid #1903a01c;
    transform: scale(1.015);
}

.featured_streamPreviewContainer {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 400px !important;
    box-shadow: 3px 2px 11px 0px rgba(10, 0, 70, 0.42);
}

.featured_streamMetaContainer {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-width: 467px;
    margin-left: 49px;
}

.featured_streamNameContainer {
    padding: 5px;
    font-size: 24px;
    color: #120088;
}

.featured_streamName {
    font-size: 38px;
}

.featured_streamTags {
    display: flex;
    /* overflow: scroll; */
    margin-top: 10px;
}

.featured_streamer_profile_container_discover {
    display: flex;
    padding: 8px 10px;
    align-items: center;
    margin-top: 0px;
}

.featured_streamer_profile_image_container {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
}

.featured_streamer_profile_icon_discover {
    border-radius: 360px;
    background-color: #eee;
    object-fit: cover;
    width: 30px;
    height: 30px;
    border: 2px solid #06014442;
    opacity: 0.9;
    margin-right: 0px;
    box-shadow: 1.5px 1.5px 7px 0px rgba(10, 0, 70, 0.22);
}

.featured_streamer_name_container_discover {
    display: inline-block;
    height: 40px;
    color: #0a004861;
    font-weight: 500;
}

.featured_streamer_firstname_discover,
.featured_streamer_lastname_discover {
    line-height: 40px;
    margin-right: 5px;
    display: inline-block;
}

.featured_streamTag {
    font-size: 16.5px;
    margin-right: 5.5px;
    padding: 4px 20px;
    display: inline-block;
    border-radius: 2px;
    background-color: #1500a00a;
    color: #0f007363;
    margin: 2px 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.featured_streamPreview {
    object-fit: cover;
    max-width: 600px;
    min-height: 400px;
}

.featured_streamer_description_container_discover {
    /* color: #a3a2b5; */
    color: #514f7a;
    padding: 10px;
}