.streams {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1164px;
}

.stream {
    width: 350px;
    /* max-height: 350px; */
    margin: 30px 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 40px 0px;
    border: 1px solid transparent;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: .2s ease-in-out;
}

.stream:hover {
    border: 1px solid #12008869;
    transform: scale(1.015);
    background-color: #efeff7;
}

img.streamPreview {
    min-height: 220px;
    /* max-width: 323px; */
    /* border-radius: 22px; */
    object-fit: cover;
}

.streamPreviewContainer {
    /* border: 1px solid #eee; */
    width: 325px;
    height: 220px !important;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border-radius: 4px; */
    background-color: transparent;
    box-shadow: 3px 2px 11px 0px rgba(10, 0, 70, 0.42);
}

.streamMetaContainer {
    width: 100%;
    max-width: 325px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.streamTags {
    display: flex;
    overflow: scroll;
}

.streamTag {
    display: inline-block;
    border-radius: 2px;
    background-color: #1500a00a;
    padding: 4px 10px;
    font-size: 14px;
    color: #0f007363;
    margin: 2px 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.streamNameContainer {
    padding: 5px;
}

.streamName {
    font-size: 20px;
}

.streamer_profile_container_discover {
    display: flex;
    padding: 8px 10px;
}

.streamer_profile_image_container {
    display: inline-block;
}

.streamer_profile_icon_discover {
    width: 40px;
    height: 40px;
    border-radius: 360px;
    margin-right: 10px;
    background-color: #eee;
    object-fit: cover;
}

.streamerLevelContainer {
    display: inline-block;
}

.streamer_name_container_discover {
    display: inline-block;
    height: 40px;
    /* padding-left: 10px; */
    color: #0a004861;
}

.streamer_username_discover,
.streamer_firstname_discover,
.streamer_lastname_discover {
    line-height: 40px;
    margin-right: 5px;
    display: inline-block;
}

.stream_link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}