mixin footer
	.footer
		.footer_sections
			a.footer_section(href="/about")
				.footer_about Meist
			a.footer_section(href="/privacy")
				.footer_privacy Privaatsus
			a.footer_section(href="/terms")
				.footer_terms Tingimused
			a.footer_section(href="/contact")
				.footer_contact Kontakt
			.footer_section.right
				.rights_reserved Kõik õigused kaitstud.
			.footer_section.right
				.copyrights © 2020 Eeter.tv
