mixin landing
	.registration-block
		.title__landingPage.cd-words-wrapper
			.landingTitleP1 Jaga oma
			.landingTitleP2.is-visible talenti.
			.landingSubtitle Tule lõbusta ja hari kaasmaalasi Covid-19 ajal, otse eetris.
		a.signupPageLink(href='/accounts/registerForm') Hakka striimima
		//- img.imageBlockX(src='/images/pablo-sign-in.png')
	//---------------------
	//- LANDING PAGE IFRAME HOLDER, CUSTOMIZR FROM BUSINESS.ELYSIUM.ONE FOR LANDING FRONT CREATION
	//- INSERTABLE HTML COMPONENT, works best with X configuration for container & html, body
	//- WORKS BEST WITH ENTIRE SETUP BEING THE ELYSIUM.ONE CORE
	//- EVEN IDENTIFIES LOCATION/LANGUAGE
	//- CAN CUSTOMIZE EVERYTHING & CHOOSE FROM EXISTING LAYOUTS

	//- HIDE/SHOW AREAS BASED ON LAUNCH VERSION (BETA, PUBLIC, etc)