mixin live_streams
	.tags_area
	.contentArea
		.examplesSection__landingPage
			.examplesContainer__landingPage
				.examplesTitle__landingPage Hetkel laivis
		+featured_live(featured)
		+streamers(streams)