mixin login
	.account-manager 
		form.signin-form(method='POST')
			.inputErrorContainer
				.inputErrorText
			.login-title Logi sisse
			input.login-input(name='username' type='text' placeholder='Username or email' autocomplete="off") 
			input.login-input(name='password' type='password' placeholder='Password' autocomplete="off")
			a.forgotPass(href='/accounts/forgotPass') Unustasid parooli?
			.submit
				input.login-button(type='submit' value='Log in')
			.successMessage Parool on edukalt muudetud. Logi sisse.
			a.accountExists__registerPage(href='/accounts/registerForm') Või loo kasutaja