mixin aboutmenu
    .nav-container.auto-side-margins
        .navlinks-container
            a.topNavigationLink__topBar(href= '/about') Meist
            a.topNavigationLink__topBar(href= '/privacy') Privaatsus
            a.topNavigationLink__topBar(href= '/terms') Tingimused
            a.topNavigationLink__topBar(href= '/contact') Kontakt