mixin confirm_end
    .confirm_end_modal
        .confirm_modal_background
        .confirm_modal
            .big-content-wrapper
                .confirm_modal_title Confirm end stream?
                .end_stream_actions
                    .end_stream_confirm End stream
                    .cancel_end_stream Cancel
                .end_stream_fail_message
