mixin footer(lang=0)
	if (!lang || lang == 0)
		.footer
			.footer_sections
				.footer_section
					.footer_about About
				.footer_section
					.footer_privacy Privacy policy
				.footer_section
					.footer_terms Terms of service
				.footer_section
					.footer_contact Contact us
				.footer_section.right
					.rights_reserved All rights reserved.
				.footer_section.right
					.copyrights Copyright © 2020 Eeter.tv
	else if (lang == "EST")
		.footer
			.footer_sections
				a.footer_section(href="/about")
					.footer_about Meist
				a.footer_section(href="/privacy")
					.footer_privacy Privaatsus
				a.footer_section(href="/terms")
					.footer_terms Tingimused
				a.footer_section(href="/contact")
					.footer_contact Kontakt
				.footer_section.right
					.rights_reserved Kõik õigused kaitstud.
				.footer_section.right
					.copyrights © 2020 Eeter.tv
	else if (lang == "ENG")
		.footer
			.footer_sections
				a.footer_section(href="/about")
					.footer_about About
				a.footer_section(href="/privacy")
					.footer_privacy Privacy policy
				a.footer_section(href="/terms")
					.footer_terms Terms of service
				a.footer_section(href="/contact")
					.footer_contact Contact us
				.footer_section.right
					.rights_reserved All rights reserved.
				.footer_section.right
					.copyrights Copyright © 2020 Eeter.tv
