mixin profile_private(user)
    .profile_private
    .followers
        .followers_count 42
    .streams
        .stream
            .streamPreviewContainer
                .streamPreview
                .live
                .viewerCount
            .streamMetaContainer
                .streamNameContainer
                    .streamName Training
                .streamTags
                    .streamTag #exercise
                .streamerProfileContainer
                    .streamerProfileImageContainer
                        .streamerProfileImage
                    .streamerLevelContainer
                        .streamerStar
                        .streamerLevel
                        .verifiedSign.hidden
                    .streamerUsernameContainer
                        .streamerUsername Alicia Dorothy