mixin topmenu(user=0)
	- var coreURL = 'dashboard';
	if !user
		.landing-nav
			.title-container
				a.logoTitleBlack__generic(href='/') eeter.tv
			a.loginPageLink(href='/accounts/loginForm') logi sisse
			a.signUpLinkSimple(href='/accounts/registerForm') registreeru
	else if user
		.nav-container
			.title-container
				a.title-btn(href='/') eeter.tv
			.navlinks-container
				a.topNavigationLink__topBar(href= '/scheduled') Kava
				a.topNavigationLink__topBar(href= '/discover') Avasta
			.stream_buttons
				if (!user.is_live)
					a.go_live_button(href="/" + coreURL + "/golive") Mine laivi
				//- .schedule_stream_button Schedule stream
			.logout-container
				.DropdownX
					.Dropdown-profile
						//- img.Photo(src='//s3-us-west-2.amazonaws.com/s.cdpn.io/33381/profile/profile-80.jpg?1')
						.Photo
							+profileIcon
						//- img.Photo(src='https://img.icons8.com/pastel-glyph/64/ffffff/gender-neutral-user.png')
						.userId(id= user.id) 
						//- span.MenuIcon
						//- 	span.MenuIcon-line
						//- 	span.MenuIcon-line
						//- 	span.MenuIcon-line
					nav.Dropdown-nav.SettingsNav
						ul.Dropdown-group
							li
								a.entypo-newspaper.NavLinkX(href= '/profile/' + user.id) Profile
								a.entypo-plus.OptionLink(href='#')
							//- li
							//- 	a.entypo-newspaper.NavLinkX(href='#') Profile
							//- li
							//- 	a.entypo-docs.NavLinkX.Upgrade(href='#') Upgrade
							//- 	a.entypo-plus.OptionLink(href='#')
							li
								a.entypo-archive.NavLinkX(href='/' + coreURL + '/settings') Settings
								a.entypo-plus.OptionLink(href='#')
							li
								a.entypo-logout.NavLinkX(href='/accounts/logout') Logout