mixin footer
	.footer
		.footer_sections
			.footer_section
				.footer_about About
			.footer_section
				.footer_privacy Privacy policy
			.footer_section
				.footer_terms Terms of service
			.footer_section
				.footer_contact Contact us
			.footer_section.right
				.rights_reserved All rights reserved.
			.footer_section.right
				.copyrights Copyright © 2020 Eeter.tv
