mixin landing
	.registration-block
		.title__landingPage.cd-words-wrapper
			.landingTitleP1 Stream your
			.landingTitleP2.is-visible talents.
			.landingSubtitle Let's unite and keep the human spirit strong during Covid-19.
		a.signupPageLink(href='/accounts/registerForm') Hakka striimima
		//- img.imageBlockX(src='/images/pablo-sign-in.png')
